# =========================
# Docker Compose
# =========================
COMPOSE_PROJECT_NAME=northwind-etl

# =========================
# SQL Server
# =========================
MSSQL_SA_PASSWORD=CHANGE_ME
MSSQL_PID=Developer

# =========================
# PostgreSQL
# =========================
POSTGRES_USER=northwind
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=northwind

# Airflow metadata database
AIRFLOW_DB_NAME=airflow

# =========================
# Airflow
# =========================
AIRFLOW_UID=CHANGE_ME
AIRFLOW_GID=CHANGE_ME

AIRFLOW_EXECUTOR=CeleryExecutor

AIRFLOW_ADMIN_USERNAME=CHANGE_ME
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME

AIRFLOW_FERNET_KEY=CHANGE_ME
AIRFLOW_JWT_SECRET=CHANGE_ME

# =========================
# ClickHouse
# =========================
CLICKHOUSE_DB=northwind_dw
CLICKHOUSE_ETL_USER=northwind_etl
CLICKHOUSE_ETL_PASSWORD=CHANGE_ME
